<p id="notice"><%= notice %></p>

<div class="field">
	<%= image_tag @user.avatar.url(:thumb) %>
</div>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @user.position %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
	<strong>Department</strong>
	<%= @user.department.department_name%>
</p>

<%= link_to 'Back', users_path %>
