<p id="notice"><%= notice %></p>


<div class="container">
	<div class="row">
		<div class="col-lg-4 col-sm-6 col-md-offset-4">
    	<div class="card hovercard">
      	<div class="cardheader">
				</div>
				<div class="avatar">
					<%= image_tag @user.avatar.url(:thumb) %>
				</div>
			
			  	<div class="title">
  					<%= @user.username %>
					</div>
					<div class="desc">
						<strong>First name:</strong>
  					<%= @user.first_name %>
					</div>
					<div class="desc">
  					<strong>Last name:</strong>
  					<%= @user.last_name %>
					</div>
					<div class="desc">
	  				<strong>Position:</strong>
  					<%= @user.position %>
					</div>	
					<div class="desc">
						<strong>Email:</strong>
  					<%= @user.email %>
					</div>
					<div class="desc">
						<strong>Department</strong>
						<%= @user.department.department_name%>
					</div>
					
					<% if current_user.id == @user.id %>
					<div class="desc">
						<a href=<%= edit_user_registration_path %>>EDIT Profile</a>
					</div>
						<% end %>

				<%= link_to 'Back', :back %>
			</div><!--hover-->
		</div><!--col-->
       </div><!--row-->
    	</div><!--cont -->
	




    
       
