						<% flash.each do |key, value| %>
						       <div class="alert alert-danger"><%= value %></div>
						    <% end %>
<div class="text-center title">
	<h1>Departments</h1>
</div>

<div class="container">
	<div class="col-sm-6 col-md-4 col-md-offset-1">
	<%= button_to "New Department", new_department_path, method: :get, class: "btn btn-sm btn-danger" %>
</div>
</div>

<div class="container">
	<div class="row col-md-10 col-md-offset-1 custyle">
		<table class="table table-striped custab">
  		<thead>
    		<tr>
      		<th>Department name</th>
      		<th colspan="3"></th>
    		</tr>
  		</thead>
  	<tbody>
	  	<% @departments.each do |department| %>
      	<tr>
					<div class="col-md-3">
        	<td><%= department.department_name %></td>
				</div>
					<div class="col-md-3">
						<div class="container">
							<td class="text-center">
							<a><%= link_to '<button type="button" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-search"></span> &nbsp; View Users</button>'.html_safe, department %></a>
							</td>
						</div>
				</div>
				<div class="col-md-3">
					<div class="container">
						<td class="text-center">
							<a><%= link_to '<button type="button" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-edit"></span>&nbsp; Edit Department</button>'.html_safe, edit_department_path(department) %></a>
						</td>
					</div>
        	 
				</div>
					<div class="col-md-3">
						<div class="container">
							<td class="text-center">
								
							<a id="post">	<%= link_to '<button type="button" class = "btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span>&nbsp; Delete</button>'.html_safe, department, method: :delete, 
								data: { confirm: 'Are you sure?' } %></a>
							</td>
						</div>
					</div>
      	</tr>
    		<% end %>
  		</tbody>
		</table>
	</div><!--row-->
</div><!--jumbo-->

<br>

<div class="text-center">
	<%= will_paginate @departments, renderer: BootstrapPagination::Rails %>
	<p>Showing <%= @departments.size %> of <%= @departments.total_entries %> departments </p>
</div>

