						<% flash.each do |key, value| %>
						       <div class="alert alert-success"><%= value %></div>
						    <% end %>
<p>
  <strong>Department name:</strong>
	<%= @department.department_name %>
</p>

<div class="container">
	<div class="row col-md-5 col-md-offset-3 custyle">
		<table class="table table-striped custab"> 
  		<thead>
    		<tr>
					<th>Users in Department:</th>
      		<th colspan="1"></th>
    		</tr>
  		</thead>
  		<tbody>
   			<% if @department.users.each_with_index do |user| %>
				<div class="col-md-3">
      			<tr>
        			<td><%= user.first_name %>&nbsp;<%= user.last_name%></td>
      			</tr>
						<% end.empty? %>
						<td>No users.</td>
					<% end %>
				</div>
  		</tbody>
		</table>
		<%= link_to 'Edit', edit_department_path(@department) %> |
		<%= link_to 'Back', :back %>
	</div>
</div>


